h2{color:#ECF6CE} 
div#fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	text-align: center;
	color:white;
	background:#333;
	padding:8px;
}
a:link {
    
    background-color: white;
}
